In [1]:
x=int(1)

In [2]:
x

1

In [4]:
y=int(2.8)
z=int("5")

In [5]:
y

2

In [6]:
z

5

In [8]:
y=float(2.8)
z=float("5")
x=float(1)

In [9]:
y

2.8

In [10]:
z

5.0

In [12]:
x

1.0

In [ ]:
#string

In [14]:
a="Hello, World"

In [15]:
print(a)

Hello, World

In [16]:
print(a[1])

e

In [17]:
len(a)

12

In [22]:
txt="I am Rohit "

In [23]:
"am" in txt

True

In [ ]:
#slicing

In [30]:
b="Hello,World"

In [31]:
print(b[3:8])

lo,Wo

In [32]:
print(b[:9])

Hello,Wor

In [44]:
print(b[1:])

ello,World

In [45]:
print(b[-1:-3])

In [37]:
len(b)

11

In [46]:
b

'Hello,World'

In [47]:
print(b[1:3])

el

In [48]:
print(b[-1:-3])

In [57]:
a="  Hello,W orld"

In [58]:
a.upper()#The upper() method returns the string in upper case

'  HELLO,W ORLD'

In [59]:
a.lower()#The lower() method returns the string in upper case

'  hello,w orld'

In [60]:
a.strip()#The strip() method removes any whitespace from the beginning or the end

'Hello,W orld'

In [61]:
a.replace("H","J")

'  Jello,W orld'

In [62]:
a

'  Hello,W orld'

In [63]:
a.split(",")#The split() method splits the string into substrings if it finds instances of the separator:

['  Hello', 'W orld']

In [ ]:
#String Concatenation

In [64]:
a="Hello"
b="World"
c=a+b

In [65]:
print(c)

HelloWorld

In [68]:
a="Hello"
b="World"
c=a+" "+b

In [69]:
print(c)

Hello World

In [ ]:
#String Format

In [73]:
age=36
txt1="my age is "+ age# not concat with integer
print(txt1)

my age is 36

In [77]:
age=36
txt1="my age is{} "#But we can combine strings and numbers by using the format() method!
#The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are

In [78]:
txt1.format(age)

'my age is36 '

In [79]:
qty=3
item=345
price=45.56
Order="I want {} piece of item {} for {} dollars"

In [80]:
Order.format(qty,item,price)

'I want 3 piece of item 345 for 45.56 dollars'

In [ ]:
#Escape Character

In [85]:
txt2="I have completed BE from "Pune" university"#To fix this problem, use the escape character \

SyntaxError: invalid syntax (<ipython-input-85-3886bb5108a7>, line 1)

In [113]:
txt2="I have completed BE from \"Pune\" university"

In [114]:
print(txt2)

I have completed BE from "Pune" university

In [111]:
txt2="I have completed BE from \\ Pune university"

In [112]:
print(txt2)

I have completed BE from \ Pune university

In [93]:
txt2="I have completed BE from \nPune university"

In [109]:
print(txt2)

I have completed BE from
Pune university

In [107]:
txt3="hello \nworld"

In [108]:
print(txt3)

hello
world

In [105]:
txt3="hello \rworld"

In [106]:
print(txt3)

world

In [101]:
txt3="hello \tworld"

In [103]:
print(txt3)

hello 	world

In [115]:
txt2

'I have completed BE from "Pune" university'

In [126]:
txt3="hello \bworld"

In [127]:
print(txt3)

hello world

In [128]:
txt3="hello \fworld"

In [129]:
print(txt3)

hello world

In [130]:
txt3="hello \ooo world"

In [131]:
print(txt3)

hello \ooo world

In [132]:
txt3="hello \xhh world"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 6-7: truncated \xXX escape (<ipython-input-132-0c83071a4e1a>, line 1)