In [1]:
list=["apple","banana","cherry"]

In [2]:
list

['apple', 'banana', 'cherry']

In [3]:
list=["apple","banana","cherry","banana"]#duplicate is worked in list

In [4]:
list

['apple', 'banana', 'cherry', 'banana']

In [5]:
len(list)

4

In [6]:
list[3]

'banana'

In [7]:
list[3][2]

'n'

In [8]:
list1 = ["apple", "banana", "cherry"]#List items can be of any data type:
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [9]:
list1

['apple', 'banana', 'cherry']

In [10]:
list2

[1, 5, 7, 9, 3]

In [11]:
list3

[True, False, False]

In [12]:
list3[1]

False

In [13]:
list

['apple', 'banana', 'cherry', 'banana']

In [14]:
list[1]

'banana'

In [15]:
list[1:3]

['banana', 'cherry']

In [19]:
list[-1:]=("Kiwi","melon",'mango')

In [20]:
list

['apple', 'banana', 'cherry', 'Kiwi', 'melon', 'mango']

In [27]:
list[1]="blackcurrent"

In [28]:
print(list)

['apple', 'blackcurrent', 'cherry', 'Kiwi', 'melon', 'mango']

In [29]:
list[1:3]=["4","6"]#To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values

In [30]:
list

['apple', '4', '6', 'Kiwi', 'melon', 'mango']

In [31]:
list.insert(2,"Watermelon")#To insert a new list item, without replacing any of the existing values, we can use the insert() method.

In [32]:
list

['apple', '4', 'Watermelon', '6', 'Kiwi', 'melon', 'mango']

In [33]:
list.append("orange")#o add an item to the end of the list, use the append() method:

In [34]:
list

['apple', '4', 'Watermelon', '6', 'Kiwi', 'melon', 'mango', 'orange']

In [52]:
listA=["apple","banana","cherry"]
listB=["mango","papaya","pineapple"]
listA.extend(listB)#To append elements from another list to the current list, use the extend() method

In [53]:
listA

['apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple']

In [54]:
listA.remove("banana")#The remove() method removes the specified item.

In [55]:
listA

['apple', 'cherry', 'mango', 'papaya', 'pineapple']

In [56]:
listA.pop(2)#The pop() method removes the specified index

'mango'

In [57]:
listA

['apple', 'cherry', 'papaya', 'pineapple']

In [58]:
listA.pop()#If you do not specify the index, the pop() method removes the last item

'pineapple'

In [59]:
listA

['apple', 'cherry', 'papaya']

In [60]:
del listA[0]#The del keyword also removes the specified index

In [61]:
listA

['cherry', 'papaya']

In [62]:
listA

['cherry', 'papaya']

In [64]:
del listA

In [65]:
listA

NameError: name 'listA' is not defined

In [66]:
list

['apple', '4', 'Watermelon', '6', 'Kiwi', 'melon', 'mango', 'orange']

In [67]:
list.clear()

In [68]:
list

[]

In [69]:
list

[]

In [72]:
list=['apple', '4', 'Watermelon', '6', 'Kiwi', 'melon', 'mango', 'orange']

In [73]:
print(list)

['apple', '4', 'Watermelon', '6', 'Kiwi', 'melon', 'mango', 'orange']

In [76]:
for x in list: #You can loop through the list items by using a for loop
    print(x)

apple
4
Watermelon
6
Kiwi
melon
mango
orange

In [77]:
list

['apple', '4', 'Watermelon', '6', 'Kiwi', 'melon', 'mango', 'orange']

In [80]:
for i in range(len(list)):
    print(list[i])

apple
4
Watermelon
6
Kiwi
melon
mango
orange

In [82]:
list.sort()

In [83]:
list#List objects have a sort() method that will sort the list alphanumerically, ascending

['4', '6', 'Kiwi', 'Watermelon', 'apple', 'mango', 'melon', 'orange']

In [86]:
listc=[100,56,85,93,5,8]

In [88]:
listc.sort()

In [89]:
listc

[5, 8, 56, 85, 93, 100]

In [91]:
listc.sort(reverse=True)
listc

[100, 93, 85, 56, 8, 5]

In [92]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()

In [93]:
thislist

['Kiwi', 'Orange', 'banana', 'cherry']

In [94]:
thislist.reverse()

In [95]:
thislist

['cherry', 'banana', 'Orange', 'Kiwi']

In [96]:
mylist=list.copy()#You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2

In [97]:
mylist

[100, 56, 85, 93, 5, 8]

In [98]:
list

[100, 56, 85, 93, 5, 8]

In [99]:
thislist

['cherry', 'banana', 'Orange', 'Kiwi']

In [101]:
mylist=thislist(list)

TypeError: 'list' object is not callable

In [102]:
mylist

[100, 56, 85, 93, 5, 8]

In [ ]:
list1 = ["a", "b", "c"]#There are several ways to join, or concatenate, two or more lists in Python.

#One of the easiest ways are by using the + operator.
list2 = [1, 2, 3]

In [103]:
Y=list1+list2

In [105]:
Y

['apple', 'banana', 'cherry', 1, 5, 7, 9, 3]

In [106]:
for x in list2:
    list1.append(x)

In [107]:
list1

['apple', 'banana', 'cherry', 1, 5, 7, 9, 3]

In [108]:
list1.extend(list2)

In [109]:
list1

['apple', 'banana', 'cherry', 1, 5, 7, 9, 3, 1, 5, 7, 9, 3]