In [1]:
import pandas as pd

In [2]:
mydata={'cars':["BMW","Volvo","Ford"], 'passings':[3,7,8]}

In [5]:
xc=pd.DataFrame(mydata)

print(xc)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         8

In [6]:
print(pd.__version__)

1.0.5

In [7]:
a=[1,7,2]#series

a1=pd.Series(a)

print(a1)

0    1
1    7
2    2
dtype: int64

In [8]:
print(a1[0])

1

In [9]:
a=[1,7,2]

a1=pd.Series(a,index=["x","y","z"])

print(a1)

x    1
y    7
z    2
dtype: int64

In [10]:
a1['y']

7

In [11]:
calories = {"day1": 420, "day2": 380, "day3": 390}

In [12]:
calories1=pd.Series(calories)

In [13]:
print(calories1)

day1    420
day2    380
day3    390
dtype: int64

In [15]:
calories2=pd.Series(calories,index=["day2","day3"])

In [16]:
calories2

day2    380
day3    390
dtype: int64

In [17]:
data = {#data frame
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [3]:
import pandas as pd

data={ 
"days":[1,2,3,4], "calories":[451,561,548,487]}

df= pd.DataFrame(data)

df

   days  calories
0     1       451
1     2       561
2     3       548
3     4       487

In [5]:
df.loc[2]

days          3
calories    548
Name: 2, dtype: int64

In [7]:
df.loc[[0,2]]#using loc functuin

   days  calories
0     1       451
2     3       548

In [8]:
#using index argument

df=pd.DataFrame(data, index=["sr.1",'sr.2','sr.3','sr.4'])

In [9]:
df

      days  calories
sr.1     1       451
sr.2     2       561
sr.3     3       548
sr.4     4       487

In [10]:
df.loc['sr.2']

days          2
calories    561
Name: sr.2, dtype: int64

In [12]:
df=pd.read_csv('data.csv')