In [1]:
#set practice
fruit={"apple","banana","mango"}

In [2]:
fruit

{'apple', 'banana', 'mango'}

In [3]:
fruit={"apple","banana","mango","banana"}#duplicate not allowed

In [5]:
print(fruit)

{'mango', 'banana', 'apple'}

In [6]:
len(fruit)

3

In [7]:
set1 = {"apple", "banana", "cherry"}#Set items can be of any data type
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [9]:
set1

{'apple', 'banana', 'cherry'}

In [10]:
set2

{1, 3, 5, 7, 9}

In [11]:
set3

{False, True}

In [12]:
set1 = {"abc", 34, True, 40, "male"}# set with strings, integers and boolean values
set1

{34, 40, True, 'abc', 'male'}

In [13]:
type(set1)

set

In [14]:
type(fruit)

set

In [16]:
fruit = set(("apple", "banana", "cherry"))#Using the set() constructor to make a set

In [17]:
fruit

{'apple', 'banana', 'cherry'}

In [18]:
fruit = set(("apple", "banana", "cherry"))#Loop through the set, and print the values
for item in fruit:
    print(item)

cherry
banana
apple

In [19]:
fruit

{'apple', 'banana', 'cherry'}

In [20]:
fruit.add("orange")#Add an item to a set, using the add() method

In [21]:
fruit

{'apple', 'banana', 'cherry', 'orange'}

In [22]:
fruit1={"mango","papaya"}

In [23]:
fruit1

{'mango', 'papaya'}

In [24]:
fruit.update(fruit1)#To add items from another set into the current set, use the update() method

In [25]:
fruit

{'apple', 'banana', 'cherry', 'mango', 'orange', 'papaya'}

In [26]:
fruit1 = {"apple", "banana", "cherry"}#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)
fruit2 = ["kiwi", "orange"]

fruit1.update(fruit2)

print(fruit1)

{'kiwi', 'orange', 'apple', 'cherry', 'banana'}

In [27]:
fruit1

{'apple', 'banana', 'cherry', 'kiwi', 'orange'}

In [28]:
fruit1.remove("banana")

In [29]:
fruit1

{'apple', 'cherry', 'kiwi', 'orange'}

In [30]:
fruit1.discard("cherry")

In [31]:
fruit1

{'apple', 'kiwi', 'orange'}

In [32]:
fruit1.clear()

In [33]:
fruit1

set()

In [34]:
set1 = {"a", "b" , "c"}#You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another
set2 = {1, 2, 3}

set3=set1.union(set2)

In [35]:
set3

{1, 2, 3, 'a', 'b', 'c'}

In [37]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [38]:
x.intersection_update(y)#The intersection_update() method will keep only the items that are present in both sets

In [39]:
x

{'apple'}

In [40]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [41]:
x.intersection(y)

{'apple'}

In [42]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [44]:
x.symmetric_difference(y)#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets

{'banana', 'cherry', 'google', 'microsoft'}

In [45]:
x = {"apple", "banana", "cherry"}

In [46]:
type(x)

set

In [49]:
x = {"apple":"1", "banana":"2", "cherry":"3"}

In [50]:
type(x)

dict